In [3]:
import pandas as pd

In [9]:
df=pd.read_csv("student-mat.csv")

In [10]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [11]:
len(df)

395

In [12]:
df.shape

(395, 33)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [14]:
pivot=df.iloc[0:395][['absences','G3']]
pivot

     absences  G3
0           6   6
1           4   6
2          10  10
3           2  15
4           4  10
..        ...  ..
390        11   9
391         3  16
392         3   7
393         0  10
394         5   9

[395 rows x 2 columns]

In [15]:
count=len(pivot[(pivot['absences']>10)&(pivot['G3']>16)])
print(count)

3

In [16]:
count1 = len(pivot[pivot['absences']>10])
print(count1)

66

In [17]:
count2=len(pivot[(pivot['G3']>16)])
print(count2)

24

In [18]:
P_a_intersection_b=count/395
P_a =count2/395
P_b=count1/395

In [19]:
P = P_a_intersection_b/P_b
P

0.04545454545454545

In [20]:
from random import randint

In [21]:
num_people=23
num_possible_birthdays=365
num_trials=10000

In [22]:
def generate_random_birthday():
  birthday=randint(1,num_possible_birthdays)
  return birthday

In [23]:
def generate_k_birthdays(k):
  birthdays=[generate_random_birthday() for _ in range(k)]
  return birthdays

In [24]:
def aloc(birthdays):
  unique_birthdays=set(birthdays)
  num_birthdays=len(birthdays)
  num_unique_birthdays=len(unique_birthdays)
  has_coincidence=(num_birthdays!= num_unique_birthdays)
  return has_coincidence

In [25]:
def estimate_p_aloc():
  num_aloc=0
  for _ in range(num_trials):
    birthdays= generate_k_birthdays(num_people)
    has_coincidence=aloc(birthdays)
    if has_coincidence:
      num_aloc+=1

  p_aloc = num_aloc/num_trials
  return p_aloc

  p_aloc=estimate_p_aloc()
  print(f"Estimated P is ")
  print(p_aloc)

In [26]:
from scipy.stats import uniform
uniform.cdf(x=19,loc=15,scale=10) -uniform.cdf(x=17,loc=15,scale=10)

0.2

In [27]:
from scipy import stats
a=stats.norm.cdf(1200,1000,200)
g=1-a
print(g)

b= stats.norm.cdf(750,1000,200)
print(a-g)
stats.norm.ppf(.15,1000,200)
stats.norm.ppf(.25,1000,200)

0.15865525393145707
0.6826894921370859

865.1020499607837

In [28]:
from scipy.stats import poisson
poisson.cdf(k=5,mu=3)

0.9160820579686966