<a href="https://colab.research.google.com/github/sanwarsharda/Reinforcement-learing-/blob/main/RL_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("Ads_Optimisation.csv")

In [ ]:
data.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
import random 
N=10000
d=10
ads_selected=[]
total_reward=0
for n in range (0,N):
    ad=random.randrange(d)
    ads_selected.append(ad)
    reward=data.values[n, ad]
    total_reward=total_reward+reward

In [ ]:
pd.Series(ads_selected).tail(10000).value_counts(normalize=True)

4    0.1062
2    0.1039
1    0.1016
0    0.1003
8    0.1000
9    0.1000
7    0.0989
3    0.0985
6    0.0968
5    0.0938
dtype: float64

In [ ]:
pd.Series(ads_selected).head(10000).value_counts(normalize=True)

4    0.1062
2    0.1039
1    0.1016
0    0.1003
8    0.1000
9    0.1000
7    0.0989
3    0.0985
6    0.0968
5    0.0938
dtype: float64

In [ ]:
data.shape

(10000, 10)

In [ ]:
pd.Series(ads_selected).tail(10000).value_counts(normalize=False)

4    1062
2    1039
1    1016
0    1003
8    1000
9    1000
7     989
3     985
6     968
5     938
dtype: int64

In [ ]:
pd.Series(ads_selected).head(10000).value_counts(normalize=False)

4    1062
2    1039
1    1016
0    1003
8    1000
9    1000
7     989
3     985
6     968
5     938
dtype: int64

In [ ]:
import math
N=10000
d=10
ads_selected=[]
numbers_of_selections=[0]*d
sums_of_reward=[0]*d
total_rewards=0

In [ ]:
for n in range(0, N):
    ad = 0
    max_upper_bound = 0
    
    for i in range(0, d):
        if (numbers_of_selections[i] > 0):        
            average_reward = sums_of_reward[i] / numbers_of_selections[i]           
            di = math.sqrt(3/2 * math.log(n + 1) / numbers_of_selections[i])           
            upper_bound = average_reward + di
            
        else:
            upper_bound = 1e400
            
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
   
    ads_selected.append(ad) 
    numbers_of_selections[ad] = numbers_of_selections[ad] + 1
    reward = data.values[n, ad]
    sums_of_reward[ad] = sums_of_reward[ad] + reward
    total_reward = total_reward + reward

In [ ]:
pd.Series(ads_selected).head(10000).value_counts(normalize=True)

4    0.6323
7    0.1170
0    0.0705
1    0.0387
3    0.0345
6    0.0292
8    0.0256
2    0.0186
9    0.0186
5    0.0150
dtype: float64

In [ ]:
pd.Series(ads_selected).tail(10000).value_counts(normalize=True)

4    0.6323
7    0.1170
0    0.0705
1    0.0387
3    0.0345
6    0.0292
8    0.0256
2    0.0186
9    0.0186
5    0.0150
dtype: float64