<a href="https://colab.research.google.com/github/sanwarsharda/Reinforcement-learing-/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
    import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset=pd.read_csv('Ads_Optimisation.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
dataset

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [ ]:
import random
N = 10000
d = 10 
ads_selected=[]
total_reward=0

In [ ]:
for n in range(0,N):
  ad=random.randrange(d)
  ads_selected.append(ad)
  reward=dataset.values[n,ad]
  total_reward = total_reward + reward

In [ ]:
pd.Series(ads_selected).tail(1000).value_counts(normalize=True)

3    0.115
5    0.106
9    0.106
2    0.105
1    0.102
6    0.102
4    0.095
7    0.093
0    0.088
8    0.088
dtype: float64

In [ ]:
pd.Series(ads_selected).head(1000).value_counts(normalize=True)

8    0.111
4    0.110
9    0.104
0    0.102
5    0.100
2    0.098
3    0.097
7    0.096
1    0.095
6    0.087
dtype: float64

In [ ]:
pd.Series(ads_selected).head(1000).value_counts(normalize=False)

8    111
4    110
9    104
0    102
5    100
2     98
3     97
7     96
1     95
6     87
dtype: int64

In [ ]:
import math
N = 20000
d = 20
ads_selected = []
numbers_of_selections = [0]*d
sums_of_reward=[0]*d
total_reward=0
for n in range(0,N):
  ad=0
  max_upper_bound=0

In [ ]:

from pandas.core.arrays.boolean import numbers
for n in range(0,n):
  ad=0
  max_upper_bound = 0
  for i in range (0,d):
    if(numbers_of_selections[i]>0):
      average_reward=sums_of_reward[i]/numbers_of_selections[i]
      delta_i=math.sqrt(2*math.log(n+1)/numbers_of_selections[i])
    else:
      upper_bound=1e400
    if upper_bound> max_upper_bound:
      max_upper_bound=upper_bound
      ad=i
    ads_selected.append(ad) 
    numbers_of_selections [ad]+=1
    reward=data.values[n,ad]
    sums_of_reward[ad]+=reward  
    total_reward +=reward

In [ ]:
pd.Series(ads_selected).head(1000).value_counts(normalize=False)

0    1
dtype: int64